@import url('colors.scss');
@import url('normalize.scss');

.flex {
  display: flex;

  &.vertical {
    flex-direction: column;
  }

  &.gap-sm {
    gap: 12px;
  }

  &.gap-md {
    gap: 24px;
  }

  &.gap-lg {
    gap: 48px;
  }
}
